#markdownResult {
  padding: 5px;
}

#markdownResult > table {
  margin: auto;
}

#markdownResult > table,
tr,
td,
th {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  font-weight: normal;
  white-space: nowrap;
}

td,
th {
  padding: 3px;
}
