body {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  background-color: #e6e6e6;
  font-family: Verdana;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; */
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0px auto;
}

.header {
  padding: 10px 20px 0px;
  margin-bottom: 10px;
}

.header h1 {
  margin: 0px;
  padding: 0px;
  color: #fc4f08;
  border-bottom: solid 1px #000000;
}

.header h1 span {
  color: #454545;
  font: bold 18px Verdana;
}

.content {
  padding: 0px 20px 10px;
  min-height: 600px;
  font: bold 13px Verdana;
  text-align: justify;
}

.content .bar {
  margin-bottom: 5px;
}

.content textarea {
  width: 915px;
  background-color: #fff;
  color: red;
  font-size: 16px;
  resize: vertical;
  height: 300px;
  min-height: 300px;
  overflow-y: scroll;
}

.content pre {
  width: 915px;
  background-color: #fff;
  color: red;
  font-size: 16px;
  text-align: left;
  margin-left: auto;
  /* resize: vertical; */
  /* height: 300px; */
  /* min-height: 300px; */
  /* overflow-y: scroll; */
}

/* pre,
code,
blockquote,
input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-touch-callout: text;
} */

@media screen and (max-width: 576px) {
  .d-none-mobile {
    display: none;
  }
  .display_mobileApp {
    display: block !important;
  }
}
