<html>
<head>
 <title>Just Paste</title>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="../justpaste/css/styles.css" />
</head>
<body data-ng-app="myApp">

<section class="zone" data-ng-controller="myController">
  <textarea id='textarea1' class='textareaPaste'></textarea>
  <div class="paste-example">
    <p> Dán những gì bạn muốn vào đây, CTRL + V. giản dị. </p>
    <p> Trang lưu giữ lịch sử dán của bạn. </p>
    <p> Hãy thử dán các màu Hex, ví dụ: # 75d1f4 </p>
  </div>

  <div style="background-color:{{json.color}};" class="paste-box"
  data-ng-repeat="json in data | orderBy:'$index':true track by $index" id="pasteItem{{$index+1}}"
  data-ng-click="copyItem($event)">
    <span class="paste-box-item">{{json.item}}</span>
    <span class="msg">Sao chép!</span>
  </div>
</section>

<script src="../justpaste/js/main.js"></script>

</body>

</html>
