* { margin: 0; padding: 0; }
body, html { height: 100%; overflow: hidden; }
body {
    width: 100%;
    font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(../img/transparent.gif);
}
.box {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}
.box.vertical {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}
.flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
ul { list-style: none; }
#helper { top: 5px; right: 5px; padding: 8px 13px; position: absolute; z-index: 9999; background: rgba(0,0,0,.5); 
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}
#layer { 
    top: 50%;
    left: 20%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 99;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    opacity: 1;
}
    #resize { bottom: -15px; right: -15px; width: 30px; height: 30px; position: absolute; }
    #layer.borderRadius:hover #resize { border-right: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
#main { position: relative; height: 100%; width: 100%; }
#workspace { position: relative; }
    #parallel_universe { position: absolute; z-index: -1; }
    #innerShadow_universe { position: absolute; z-index: -1; }
    #background_layer {
        background: -moz-linear-gradient(top, #e2e2e2, #ababab);
        background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#ababab));
        background: -o-linear-gradient(top, #e2e2e2, #ababab);
        display: block;
    }
    #codeBoxToggle {
        top: 0; 
        left: 0; 
        padding: 5px 13px 4px; 
        line-height: 18px; 
        color: rgba(0, 0, 0, 0.75);
        background: rgba(0,0,0,.08); 
        border-radius: 2px 2px 0 0; 
        position: absolute; 
        cursor: pointer;
        display: inline-block;
        z-index: 101;
        -moz-transition: background-color 240ms ease;
        -webkit-transition: background-color 240ms ease;
        transition: background-color 240ms ease;
    }
        #codeBoxToggle:hover {
            background: rgba(0,0,0,.13);
        }
#overlay { width: 100%; height: 100%; position: absolute; top: 0; background-color: transparent;
    -moz-transition: background-color 240ms ease;
    -webkit-transition: background-color 240ms ease;
    transition: background-color 240ms ease;
}
    .dragging #overlay { z-index: 101; background-color: rgba(0,0,0,.21); }
    .pick #overlay { z-index: 100; cursor: url(../img/eyedropper.gif) 0 15, auto; }
#infoButton { 
    position: absolute; 
    left: 0; 
    padding: 13px; 
    color: black; 
    text-decoration: none; 
    text-transform: uppercase; 
    opacity: 0.21; 
    z-index: 99; 
    display: block;
    -moz-transition: 240ms;
    -webkit-transition: 240ms;
    transition: 240ms;
}
    #infoButton:hover { opacity: 0.55; }
#codeBox {
    height: 0;
    position: relative;
    overflow: hidden;
    background-position: 0 2px;
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    transition: 300ms ease-out;
}
    #codeBox.resizing {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
    #codeBox .dragger.y {
        top: 0;
        height: 21px;
        background: -moz-linear-gradient(#9E9E9E, #999);
        background: -webkit-gradient(linear, center top, center bottom, from(#9E9E9E), to(#999));
        background: -webkit-linear-gradient(#9E9E9E, #99);
        border-bottom: 1px solid #666;
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        display: block;
        position: relative;
        z-index: 1;
    }
    #copyCode { 
        top: 21px;
        left: 1px;
        width: 78px;
        height: 15px;
        color: #444;
        font-family: "Consolas", "Monaco", monospace;
        line-height: 15px; 
        font-size: 10px;
        text-align: center;
        border: 1px solid #edc59c;
        border-radius: 4px;
        background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 2px, #edc59c 2px, #edc59c 3px);
        background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 2px, #edc59c 2px, #edc59c 3px);
        background-size: 4px 4px;
        position: absolute;
        cursor: pointer;
    }
        #copyCode:active { color: black; }
        #copyCode embed { left: 0; position: absolute; outline: none; }
        #colorSwitch {
            top: 41px;
            left: 1px;
            width: 78px;
            height: 15px;
            color: #444;
            border: 1px solid #edc59c;
            border-radius: 4px;
            overflow: hidden;
            position: absolute;
        }
            .toggle { cursor: pointer; }
            #colorSwitch .slidePanel {
                width: 150%;
                height: 100%;
                left: -50%;
                margin: 1px;
                position: absolute;
                -moz-transition: 320ms ease;
                -webkit-transition: 320ms ease;
            }
            #colorSwitch.moving .slidePanel {
                -moz-transition: none;
                -webkit-transition: none;
            }
            #colorSwitch .button {
                top: 0;
                left: 33.33%;
                width: 35px;
                height: 11px;
                position: absolute;
                border: 1px solid #edc59c;
                border-radius: 3px;
                background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 2px, #edc59c 2px, #edc59c 3px);
                background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 2px, #edc59c 2px, #edc59c 3px);
                background-size: 4px 4px;
            }
            #colorSwitch .left,
            #colorSwitch .right { right: 0; width: 33.33%; height: 100%; line-height: 13px; font-size: 10px; text-align: center; position: absolute; }
            #colorSwitch .left { left: 0; right: auto; }
    #codeBox .body {
        color: #444;
        height: 100%;
        border-top: 1px solid rgba(0,0,0,.13);
        overflow: auto;
        position: relative;
    }
    .paper {
        background-color: #ffe4b5;
        /* lines */
        background-image:
            -moz-linear-gradient(left, transparent 82px, rgba(128,0,0,.08) 82px, rgba(128,0,0,.08) 82px, transparent 83px),
            -moz-repeating-linear-gradient(transparent, transparent 19px, rgba(128, 0, 0, 0.08) 19px, rgba(128, 0, 0, 0.08) 20px);
        background-image: 
            -webkit-linear-gradient(left, transparent 82px, rgba(128,0,0,.08) 82px, rgba(128,0,0,.08) 82px, transparent 83px),
            -webkit-repeating-linear-gradient(transparent, transparent 19px, rgba(128, 0, 0, 0.08) 19px, rgba(128, 0, 0, 0.08) 20px);
    }
        #codeBox .scroll {
            padding: 20px 0 0 108px;
        }
        #codeBox code { 
            padding-bottom: 20px;
            border: none;
            font-family: "Consolas", monospace;
            line-height: 20px;
            display: block;
        }
.dragger { position: absolute; z-index: 100; }
    .dragger.x { width: 10px; left: -5px; top: 0; height: 100%; cursor: w-resize; }
    .dragger.y { width: 100%; top: -5px; left: 0; height: 10px; cursor: n-resize; }
    .dragBox { bottom: 0; left: 5px; height: 20px; width: 20px; border: 1px solid rgba(0,0,0,.13); background: url(../img/dragger.png) no-repeat 6px 6px; position: absolute; }
    .dragger.y .dragBox {
        bottom: -1px;
        border: none;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transform-origin: center center;
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
.moveable { cursor: move; }
#layerstyle {
    top: 11px;
    right: 11px;
    width: 556px;
    height: 393px;
    color: black;
    background: #EDEDED;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-box-shadow: 0 15px 40px 10px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 15px 40px 10px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.16);
    box-shadow: 0 15px 40px 10px rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.16);
    position: absolute;
    z-index: 100;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#headerBg {
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #515151;
    background: -moz-linear-gradient(#CFCFCF, #A8A8A8);
    background: -webkit-gradient(linear, center top, center bottom, from(#CFCFCF), to(#A8A8A8));
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
}
.window { top: 0; width: 100%; position: absolute; }
    .window .head {
        padding: 6px;
        position: relative;
    }
    .window .head h2 {
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        color: black;
        text-shadow: 0 1px 0 #cfcfcf;
    }
        .window .head > button {
            position: absolute;
            left: 3px;
            top: 3px;
            width: auto;
            padding: 1px 9px;
            text-shadow: 0 1px 0 white;
            background: -moz-linear-gradient(top, #ebebeb, #d7d7d7);
            background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#d7d7d7));
            border: 1px solid #999999;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 white inset;
            -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 white inset;
            box-shadow: 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 white inset;
            cursor: pointer;
        }
.window .body { padding: 15px 10px; position: relative; }
.inactive {
    color: gray;
}
#dialog { visibility: hidden; }
.main { width: 82%; float: left; font-size: 10px; }
    .main > .styles { width: 72%; float: left; }
        #holder { margin: 0 16px; }
        #holder > div { width: 100%; visibility: hidden; position: absolute; top: 0; padding: 12px 0; border: 1px solid #909090; }
        #holder > div.active { visibility: visible; }
        .holder { position: relative; }
        .holder h3 { left: 9px; top: -8px; padding: 0 3px 0 2px; font-size: 10px; position: absolute; background: #ededed; }
        .styles > div > div > label { width: 22%; padding-top: 1px; margin-right: 2%; text-align: right; float: left; clear: right; }
        .styles label + div { width: 75%; float: right; }
        .styles label, .styles label + div { margin-top: 2px; }
        .styles .color_field { height: 13px; width: 33px; border: 1px solid #909090; background: white; cursor: pointer; }
        .styles input[type=checkbox] { margin: 0 6px; vertical-align: middle; width: auto; }
        .styles input[type=checkbox] + label { vertical-align: middle; }
        .styles .angle_holder { top: 13px; position: relative; display: inline-block; vertical-align: top; }
        input[type=text] { 
            width: 40px;
            padding: 1px;
            font-size: 10px;
            border: 1px solid #909090;
            border-bottom-width: 0;
            -moz-box-shadow: inset 0 0 0 1px #bababa, 0 1px 0 rgba(0,0,0,.04);
            -webkit-box-shadow: inset 0 0 0 1px #bababa, 0 1px 0 rgba(0,0,0,.04);
            box-shadow: inset 0 0 0 1px #bababa, 0 1px 0 rgba(0,0,0,.04);
        }
        .styles .slider { width: 100px; margin: 0 5px 0 3px; }
    #stylePresets { margin: -2px 9px 0; height: 230px; overflow: auto; }
    #stylePresets .swatch { width: 31px; height: 31px; border-right: 1px solid #909090; border-bottom: 1px solid #909090; float: left;
            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        }
    #stylePresets .swatch.active { border: 2px solid black; }
            #stylePresets .swatch > div { width: 17px; height: 17px; margin: 7px 0 0 7px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
            #stylePresets .swatch.active > div { margin: 5px 0 0 5px; }
    #holder #background { }
        .gradientField {
            margin: 2px 0;
            width: 109px;
            height: 15px;
            vertical-align: middle;
            border: 1px solid black;
            display: inline-block;
            cursor: pointer;
        }
        .previews > div { margin: 2px 2px 2px 0; width: 24px; height: 24px; border: 1px solid black; display: inline-block; opacity: 0.3; }
        .previews > .active { opacity: 1; background-color: #A7D4F6; }
        .inactive .previews > .active { background-color: rgba(0,0,0,.08); border-color: gray; }
        #border .previews > div { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
        #border_style_dotted { border-style: dotted; }    
        #border_style_dashed { border-style: dashed; }
        #border_style_double { border: 3px double black; }
        #border_radius_preview {
            width: 104px;
            height: 104px;
            margin: 4px 3px;
            float: left;
            border-color: rgba(0,0,0,.25);
            position: relative;
            -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
            overflow: hidden;
        }
            #border_radius_preview > div {
                width: 50%;
                height: 50%;
                float: left;
                -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
            }
            #border_radius_preview #bottomRight { float: right; border-bottom: 1px solid rgba(0,0,0,.25); border-right: 1px solid rgba(0,0,0,.25); }
            #border_radius_preview #topLeft { border-top: 1px solid rgba(0,0,0,.25); border-left: 1px solid rgba(0,0,0,.25); border-bottom: 1px dotted rgba(0,0,0,.25); border-right: 1px dotted rgba(0,0,0,.25); }
            #border_radius_preview #topRight { border-top: 1px solid rgba(0,0,0,.25); border-right: 1px solid rgba(0,0,0,.25); border-bottom: 1px dotted rgba(0,0,0,.25); }
            #border_radius_preview #bottomLeft { border-bottom: 1px solid rgba(0,0,0,.25); border-left: 1px solid rgba(0,0,0,.25); border-right: 1px dotted rgba(0,0,0,.25); }
            #border_radius_preview > div.active { background: #A7D4F6; }
            .inactive #border_radius_preview > div.active { background: rgba(0,0,0,.08); }
            .options { 
                -moz-box-shadow: 0 2px white;
                -webkit-box-shadow: 0 2px white;
                box-shadow: 0 2px white;
                cursor: pointer;
            }
                .options span:first-child { border-right: none; }
                .options span:last-child { border-left: none; }
                .options span {
                    padding: 0 4px;
                    border: 1px solid rgba(0,0,0,.5);
                    background: -moz-linear-gradient(#C1C1C1, #D4D4D4);
                    background: -webkit-linear-gradient(#C1C1C1, #D4D4D4);
                    background: linear-gradient(#C1C1C1, #D4D4D4);
                    -moz-box-shadow: 0 1px white inset;
                    -webkit-box-shadow: 0 1px white inset;
                    box-shadow: 0 1px white inset;
                }
                .options span.active {
                    border: 1px solid rgba(0,0,0,.5);
                    background: -moz-linear-gradient(#999999, #BBBBBB);
                    background: -webkit-linear-gradient(#999999, #BBBBBB);
                    background: linear-gradient(#999999, #BBBBBB);
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                .inactive .options span { opacity: 0.5; }
    #nav { width: 28%; height: 100%; float: left; cursor: default; }
        #nav ul {
            border: 1px solid #909090;
            -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.3);
            -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.3);
            box-shadow: inset 1px 1px 0 rgba(0,0,0,.3);
        }
        #nav li { margin: 0 0 0 1px; padding: 4px 6px; border-bottom: 1px solid white; cursor: pointer; }
        #nav li input { margin-right: 5px; vertical-align: bottom; cursor: pointer; }
        #nav li.active { background: #b5d5ff; font-weight: bold; }
        #nav li:first-child { padding-bottom: 6px; 
            -moz-box-shadow: inset 0 -1px 0 black;
            -webkit-box-shadow: inset 0 -1px 0 black;
            box-shadow: inset 0 -1px 0 black;
        }
        #nav li:first-child + li { padding-top: 5px; border-top: 1px solid #909090;
            -moz-box-shadow: inset 0 1px 0 black;
            -webkit-box-shadow: inset 0 1px 0 black;
            box-shadow: inset 0 1px 0 black;
        }
    .controls { width: 18%; float: right; }
        .controls > div { text-align: center; }
        .controls > div input { margin-right: 2px; }
#colorpicker { visibility: hidden; }
    #colorpicker .body { padding-top: 9px; }
    #colorpicker .main { width: 75%; height: 294px; margin-top: 21px; position: relative; }
    #color_field { height: 256px; width: 256px; position: absolute; }
        #field, #circle { position: absolute; }
        #circle { z-index: 999; }
    #color_slider { left: 259px; top: 2px; width: 44px; height: 256px; position: absolute; }
    #color_slider canvas {
        top: -2px;
        left: 11px;
        height: 256px;
        width: 19px;
        position: absolute;
    }
    .border_box { border-color: #909090 #909090 #e4e4e4 #909090; border-width: 2px 1px 1px 2px; border-style: solid; }
    .lightbox { border: 1px solid #909090; border-bottom-color: #e4e4e4; }
    #color_slider > div { left: 11px; top: 256px; width: 21px; position: absolute; }
        #color_slider > div > .arrow.right { right: -3px;  }
        #color_slider > div > .arrow.left { left: -9px; }
        #color_slider .arrow { top: -4px; position: absolute; }
        #color_slider .arrow div { border: 1px solid #747474; background: white; position: absolute; }
        #color_slider .arrow .rear { width: 4px; height: 6px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }
        #color_slider .arrow .spike { top: 1px; width: 4px; height: 4px; 
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        #color_slider .arrow.left .rear { border-right-width: 0; }
        #color_slider .arrow.left .spike { left: 1px; }
        #color_slider .arrow.right .rear { border-left-width: 0; left: 2px; }
    .color_preview { top: 4px; left: 304px; width: 60px; position: absolute; }
        .color_preview > div { height: 34px; background: black; border: 1px solid black; }
        #new_color { border-bottom: none; }
        #current_color { background: white; border-top: none; }
        .color_preview > label { bottom: -14px; width: 100%; text-align: center; position: absolute; }
        .color_preview > label:first-child { top: -20px; height: 20px; }
    .color_inputs { top: 111px; left: 305px; width: 100px; position: absolute; font-size: 13px; }
        .color_inputs ul { padding-bottom: 4px; }
        .color_inputs li { margin: 2px 0 3px; display: inline-block; }
        .color_inputs input[type=radio] { margin-right: 4px; }
        .color_inputs span { width: 20px; display: inline-block; }
        .color_inputs ul input[type=text] { width: 33px; height: 18px; margin-right: 2px; font-size: 13px; }
        .color_inputs #hex_holder { margin: 2px 3px; }
            .color_inputs #hex { height: 18px; margin-left: 4px; font-size: 13px; width: 68px; }
#colorpicker .controls { width: 25%; }
    #swatches_holder { margin: 5px; background: #d6d6d6; border-top: 1px solid #909090; overflow: hidden; }
    #swatches { padding-bottom: 12px; overflow: hidden; }
    #swatches span { 
        width: 10px; 
        height: 11px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        float: left;
        cursor: url(../img/eyedropper.gif) 0 15, auto;
    }
    .alt .swatch { cursor: url(../img/scissor.gif) 6 6, auto; }
#gradient_editor { visibility: hidden; }
    /* overwritings */
    #gradient_editor .holder { padding: 13px 9px 9px; border: 1px solid #909090; }
    #gradient_editor .holder h3 { left: 16px; font-size: 13px; font-weight: normal; }
    #gradient_editor input[type=text] { padding: 2px; font-size: 13px; }
    #gradient_editor .static_right { margin-right: 105px; }
    #gradient_editor .main { width: 100%; font-size: 13px; }
        #gradient_editor .static_left { margin: 16px 4px 22px 56px; }
            #gradient_editor .static_left > span { margin-left: -55px; line-height: 22px; float: left; } 
            #gradient_name { width: 100%; }
            #gradient_new { margin-top: 17px; }
        #gradient_presets_holder { height: 115px; overflow: auto; }
            #gradient_presets div { width: 31px; height: 31px; border-right: 1px solid #909090; border-bottom: 1px solid #909090; float: left; }
    #gradient_editor .sidebar { width: 89px; margin-right: -105px; }
    #gradient_holder { padding: 12px 6px 34px; }
        .frame { border: 1px solid #909090; }
        #gradient { height: 25px; position: relative; }
        #gradient div { cursor: default; }
        #gradient .picker { position: absolute; }
        #gradient .picker.top { top: -19px; }
        #gradient .picker.bottom { top: 33px; }
        #gradient .picker > div { position: absolute; }
        #gradient .picker .arrow { left: -3px; top: 6px; height: 6px; width: 6px; border: 1px solid black;
            -moz-box-shadow: -1px 0 #909090 inset;
            -webkit-box-shadow: -1px 0 #909090 inset;
            box-shadow: -1px 0 #909090 inset;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -moz-transform-origin: 2px 3px;
            -webkit-transform-origin: 2px 3px;
            transform-origin: 2px 3px;
        }
        #gradient .picker.bottom .arrow { top: -5px; 
            -moz-box-shadow: 0 1px #909090 inset;
            -webkit-box-shadow: 0 1px #909090 inset;
            box-shadow: 0 1px #909090 inset;
        }
        #gradient .picker.selected .arrow { background: black;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        #gradient .picker .box { left: -6px; height: 10px; width: 9px; background: #E4E4E4; border: 1px solid black; border-bottom: none;
            -moz-box-shadow: -1px 0 #909090 inset;
            -webkit-box-shadow: -1px 0 #909090 inset;
            box-shadow: -1px 0 #909090 inset;
        }
        #gradient .picker.bottom .box { height: 9px; padding-top: 1px; border-bottom: 1px solid black; border-top: none;
            -moz-box-shadow: 0 1px #909090 inset;
            -webkit-box-shadow: 0 1px #909090 inset;
            box-shadow: 0 1px #909090 inset;
        }
        #gradient .picker .color_field { height: 7px; width: 7px; border-width: 1px; border-style: solid; border-color: #E4E4E4 #909090 #909090 #E4E4E4; background: black; }
        #gradient .middlepoint { top: -9px; position: absolute; display: none; cursor: default; }
        #gradient .middlepoint.visible { display: block; }
        #gradient .middlepoint.bottom { top: 27px; }
        #gradient .middlepoint span { margin-left: -4px; width: 7px; height: 7px; background: url(../img/middlepoint.gif); display: block; }
        #gradient .middlepoint.selected span { background-position: 0 -7px; }
    #gradient_editor #stops { padding: 9px 9px 2px; font-size: 13px; }
    #stops .disabled { color: #7f7f7f; }
    #stops button { width: 89px; display: inline; }
    #stops > div > div { width: 140px; display: inline-block; }
        #stops span { width: 54px; margin-right: 4px; text-align: right; display: inline-block; }
        #stops input[type="text"] { margin-right: 2px; }
        #stop_color { width: 45px; height: 18px; margin-bottom: -5px; border: 1px solid #909090; display: inline-block; cursor: pointer; }
        .disabled #stop_color { cursor: auto; }
.eyedropper { cursor: url(../img/eyedropper.gif) 0 15, auto; }
.colorcircle { cursor: url(../img/colorcircle.gif) 8 8, auto; }
.paint_bucket { cursor: url(../img/paint_bucket.gif) 13 14, auto; }
.resize { cursor: url(../img/resize.gif) 8 8, se-resize; }
.pot {
    margin: 0 3px;
    width: 40px;
    height: 40px;
    background: -moz-linear-gradient(top, #dbdbdb, #e1e1de 20%, #f8f8f3);
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), color-stop(50%, #e1e1de), to(#f8f8f3));
    border: 2px solid #727272;
    -moz-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    -webkit-box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    box-shadow: inset 0 2px 3px white, inset 0 -1px 2px #fffef8;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    position: relative;
    display: inline-block;
}
    .pointer {
        top: 50%;
        left: 50%;
        margin: -1.5px 0 0 -1.5px;
        width: 50%;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -moz-transform-origin: 1.5px 1.5px;
        -webkit-transform-origin: 1.5px 1.5px;
        transform-origin: 1.5px 1.5px;
        position: absolute;
    }
        .dot {
            height: 3px;
            width: 3px;
            background: #909090;
            position: absolute;
        }
        .line {
            margin-top: 1px;
            height: 1px;
            background: #909090;
        }
.slider {
    padding: 4px 0 2px 1px;
    position: relative;
    display: inline-block;
}
    .slider .bar {
        margin-top: 3px;
        height: 3px;
        background: -moz-linear-gradient(top, #adadad, #b2b2b2);
        background: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#b2b2b2));
        -moz-box-shadow: inset 0 1px 0 #929292;
        -webkit-box-shadow: inset 0 1px 0 #929292;
        box-shadow: inset 0 1px 0 #929292;
        border: 1px solid #686868;
        border-bottom-color: #aaa;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .inactive .slider .bar {
        background: -moz-linear-gradient(top, #bfbfbf, #d0d0d0);
        background: -webkit-linear-gradient(top, #bfbfbf, #d0d0d0);
        background: linear-gradient(top, #bfbfbf, #d0d0d0);
        -moz-box-shadow: inset 0 1px 0 #bfbfbf;
        -webkit-box-shadow: inset 0 1px 0 #bfbfbf;
        box-shadow: inset 0 1px 0 #bfbfbf;
        border-color: #aaa #aaa #cacaca;
    }
    .slider .arrow {
        left: 0;
        top: 3px;
        position: absolute;
    }
        .slider .rear {
            left: -3px;
            top: 4px;
            height: 5px;
            width: 7px;
            background: -moz-linear-gradient(top, #a7d4f6, #73bbf2, #b0e9fd);
            background: -webkit-gradient(linear, left top, left bottom, from(#a7d4f6), color-stop(50%,#73bbf2), to(#b0e9fd));
            border: 1px solid #787a96;
            border-top-width: 0;
            -moz-border-radius: 0 0 2px 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
            position: relative;
        }
        .slider .spike {
            left: -4px;
            height: 4px;
            width: 4px;
            background: -moz-linear-gradient(-45deg, #e4f1fc, #88c4f2);
            background: -webkit-gradient(linear, left top, right bottom, from(#e4f1fc), to(#88c4f2));
            border: 1px solid #8d84ae;
            -moz-transform-origin: 3px 7px;
            -webkit-transform-origin: 3px 7px;
            transform-origin: 3px 7px;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
        }
        .inactive .slider .rear {
            background: -moz-linear-gradient(#ECEDED, #DBDBDB, #EBEBEB);
            background: -webkit-linear-gradient(#ECEDED, #DBDBDB, #EBEBEB);
            background: linear-gradient(#ECEDED, #DBDBDB, #EBEBEB);
            border-color: #7F7D7D;
        }
        .inactive .slider .spike {
            background: -moz-linear-gradient(-45deg, #E1E1E1, white);
            background: -webkit-linear-gradient(-45deg, #E1E1E1, white);
            background: linear-gradient(-45deg, #E1E1E1, white);
            border-color: #9E9E9E;
        }
button {
    width: 100%;
    margin: 8px 0;
    padding: 1px 0;
    background: -moz-linear-gradient(top, #fcfcfc, #f4f4f4 40%, #e6e6e5 42%, #f5f5f5 75%, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), color-stop(40%,#f4f4f4), color-stop(42%,#e6e6e5), color-stop(75%,#f5f5f5), to(#fff));
    font-size: 12px;
    border: 1px solid #7d7d7d;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
    display: block;
    outline: none;
    cursor: pointer;
}
button::-moz-focus-inner { border: 0; } /* firefox outline removed */
button:first-child { margin-top: 0; }
label[for] { cursor: pointer; }
#puff { width: 22px; height: 22px; background: url(../img/puff.png); position: absolute; display: block; z-index: 110; }
.clear { clear: both; }