//
Footer effect
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 15px 0;
}
h2 {
	font-size: 15px;
}
.well {
	height: 200px;
	overflow-y: auto;
}
